*{
    text-align: center;
    margin: 10px;
}
.container{
    background-color: antiquewhite;
}
.row1{
    background-color: darkcyan;
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
    margin: 2%;
}
.row2{
    background-color: plum;
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
    margin: 2%;
}
.row3{
    background-color: white;
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
    margin: 2%;
}
